# --- DATABASE ---
# root_password must be the same as in docker-compose file
DATABASE_URL="mysql://root:root_password@localhost:3306/redbox_db"

# --- AUTH (ACCESS TOKEN) ---
JWT_ACCESS_SECRET="dev_access_secret_key"
EXPIRES_IN_ACCESS=5m

# --- AUTH (REFRESH TOKEN) ---
JWT_REFRESH_SECRET="dev_refresh_secret_key"
EXPIRES_IN_REFRESH=1d

# --- SERVER ---
PORT=3000
ADMIN_PORT=3001
FRONTEND_ORIGIN="http://localhost:5173"
ADMIN_FRONTEND_ORIGIN="http://localhost:5173"

# --- SHORTENED LINK-LIMIT ---
LINK_LIMIT=25

# --- UPLOAD-BIN-LIMIT ---
BIN_LIMIT=100

# --- Cloudflare Mail Secret ---
MAIL_WEBHOOK_SECRET="xLNi2J7*J9umX4up*uRzsuBHqpsHG59e%8PMCE@4a$VFVKdVgs"

# --- MINIO (S3) ---
S3_ENDPOINT="http://localhost:9000"
S3_ACCESS_KEY="admin_redbox"
S3_SECRET_KEY="SuperSecretMinioPassword123"
S3_BUCKET_FILES="redbox-files"
S3_BUCKET_MAILS="redbox-mails"

# --- SEED ---
ADMIN_SEED_USERNAME="admin"
ADMIN_SEED_PASSWORD="admin"